@model IEnumerable<Application.ViewModels.UserVM>
@using Application.ViewModels;
@using System.Security.Claims;
@using Domain.Enum;
@{
    ViewBag.Title = "Listagem de Secretária(o)";
    var user = (ClaimsIdentity)User.Identity;
}

<h2>@ViewBag.Title</h2>

<p>
    @if (LayoutVM.VerifyClaimExists(TypePermissionEnum.Secretaries, ValuePermissionEnum.Create, user))
    {
        @Html.ActionLink("Cadastrar Nova(o) Secretária(o)", "Create")
    }
    @if (ViewBag.Password != null)
    {
        <br /><h3>Caso a senha não chegue no e-mail, <b>@ViewBag.Password</b></h3>
    }
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Email)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Cpf)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NickName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Active)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cpf)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NickName)
            </td>
            <td>
                @item.StatusName(item.Active)
            </td>
            <td>
                @if (LayoutVM.VerifyClaimExists(TypePermissionEnum.Secretaries, ValuePermissionEnum.Update, user))
                {
                    @Html.ActionLink("Editar | ", "Edit", new { id = item.Id })
                }
                @if (LayoutVM.VerifyClaimExists(TypePermissionEnum.Secretaries, ValuePermissionEnum.Consult, user))
                {
                    @Html.ActionLink("Detalhes", "Details", new { id = item.Id })
                }
                @if (LayoutVM.VerifyClaimExists(TypePermissionEnum.Secretaries, ValuePermissionEnum.Deactivate, user))
                {
                    @Html.ActionLink(" | Desativar", "Delete", new { id = item.Id })
                }
            </td>
        </tr>
    }

</table>
