@model Application.ViewModels.UserVM
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Meu Perfil";
}

<div class="portlet light">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
            <div class="portlet light md-shadow-none">
                <div class="portlet-title tabbable-line">
                    <h3 class="text-center float-left col-sm-offset-5 col-xs-offset-5 col-lg-offset-5 col-md-offset-5">@ViewBag.Title</h3>
                    <ul class="nav nav-tabs">
                        <li class="active">
                            <a href="#tab_1_1" data-toggle="tab" aria-expanded="true"><i class="fa fa-user"></i>Usuário</a>
                        </li>
                        <li class="">
                            <a href="#tab_1_2" data-toggle="tab" aria-expanded="false"><i class="glyphicon glyphicon-lock"></i>Alterar Senha</a>
                        </li>
                    </ul>
                </div>
                <div class="portlet-body">
                    <div class="tab-content">
                        <!-- PERSONAL INFO TAB -->
                        <div class="tab-pane active" id="tab_1_1">
                            <div class="row">
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label bold">@Html.DisplayNameFor(model => model.Name): </label>
                                        <input type="text" value="@Model.Name" readonly class="form-control bg-white">
                                    </div>
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label bold">@Html.DisplayNameFor(model => model.Email): </label>
                                        <input type="text" value="@Model.Email" readonly class="form-control bg-white">
                                    </div>
                                </div>
                                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                                    <div class="form-group form-md-line-input">
                                        <label class="control-label bold">@Html.DisplayNameFor(model => model.Cpf): </label>
                                        <input type="text" id="cpf" readonly class="form-control bg-white" value="@Model.Cpf">
                                    </div>
                                </div>
                                <div class="col-md-12 text-center">
                                    <a class="btn default btn-circle" href="@Url.Action("Index")"><i class="fa fa-arrow-left"></i>  @Html.DisplayName("Voltar")</a>
                                </div>
                            </div>
                        </div>
                        <!-- END PERSONAL INFO TAB -->
                        <!-- CHANGE PASSWORD TAB -->
                        <div class="tab-pane" id="tab_1_2">
                            @Html.Action("ChangePassword", "Manage")
                        </div>

                        <!-- END CHANGE PASSWORD TAB -->
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryval")
}